#banner
{
	background-image: url(../images/banner.png); 
	background-repeat: no-repeat; 
	background-position:20% 50%;
	background-size:80% 110%;
	height: 120px; 
}

body
{
	background-attachment:fixed;

    /* image position is overwriten by code at run time to adjust for browser type: */
	background:black url('../images/children.jpg') no-repeat 40% -15%;

	background-size: 86%, 86%;
    height: 100%; /* prevent chrome from cutting off bottom of the bgnd image */
}


#list
{
	position: absolute;
	top: 10; left: 80; 
}

.content
{
	position: absolute;
	top: 27%; /* 24%; */
	margin-left: 2%; 	margin-top: -4%; 	margin-bottom: 4%; 
	width: 96%; height: 75%;
	background: 0;
	color:  #FF9900; /* black;	*/
}
.content a /* , table tr:1st-child td, table blockquote:1st-child, table blockquote:2nd-child */
{
	color:  #ff4422; /* black;	*/
	font-family: KaiTi;
	font-weight: bold;
}

.content table
{
	position: absolute;
    margin-top: 6%;
}

#menu
{
	font-family:SimSun;
}

#menu, #menu ul
{
	list-style-type: none;
/*	
    paddding: 0;	magin: 0;
*/	
	z-index: 99;
}

#menu li
{
	float: left;
	
	cursor: pointer;
	background: 0;
	border-top: 1px solid #FF9900;
}

#menu a
{
	display: block;
	width: 9em;
/*	background-image: url(../images/marbleRect.jpg); */
	color: #ff6633;
}

#menu li a 
{
	text-decoration: none; 
}

#menu ul li a 
{
	padding: 0;
	width: 5em;
	background-image: url(../images/marbleRect.jpg);
/*	background-image: url(images/halftoneBlack.gif); */
	color: #FF9900;
}

#menu > li > a 
{
	font-weight: bold;
	paddding: 2px 10px;
}

#menu li ul
{
	position: absolute;		
	width: 5em;
/*	width: 30em; */
	background: 0;
	left: -999em; /* hide before mouse over */
	cursor: auto;
	border: 0;
	paddding: 0 14px;
}

#menu li:hover ul
{
	display: block;
	left:auto;
}

#menu li ul:hover 
{
	left:auto;
}

#menu li li
{
	cursor: auto;
	background: 0;
	border: 0;
	paddding: 0 8px;
}

#menu {
  padding: 0 8%;
}

#menu .accordion > a
{
	color: #ff6688;
}

.accordion li
{
    margin-left: 2.5em;
}

#menu .accordion li:first-of-type
{
    margin-top: -0.8em;
}
